project:
  type: website

website:
  title: "Metagenomics_Online"
  sidebar:
    contents:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



